{% extends "base.html" %}
{% block title %}Todo編集{% endblock %}
{% block content %}
<h2>Todoを編集</h2>

<form action="/edit/{{ todo.id }}" method="post">
  <input type="text" name="content" value="{{ todo.content }}" required>
  <input type="date" name="deadline" value="{{ todo.deadline.strftime('%Y-%m-%d') if todo.deadline else '' }}">

  <div>
    <label>タグ選択:</label><br>
    {% for tag in tags %}
      <label>
        <input type="checkbox" name="tag_ids" value="{{ tag.id }}"
          {% if tag in todo.tags %}checked{% endif %}>
        {{ tag.name }}
      </label><br>
    {% endfor %}
  </div>

  <button type="submit">更新</button>
</form>

<a href="/">戻る</a>
{% endblock %}
